[submodule "Adafruit-Eagle-Library"]
	path = Adafruit-Eagle-Library
	url = https://github.com/adafruit/Adafruit-Eagle-Library.git
[submodule "AdafruitScm/Adafruit-BMP180-PCB"]
	path = AdafruitScm/Adafruit-BMP180-PCB
	url = https://github.com/adafruit/Adafruit-BMP180-PCB.git
[submodule "AdafruitScm/Adafruit-Pro-Trinket-PCBs"]
	path = AdafruitScm/Adafruit-Pro-Trinket-PCBs
	url = https://github.com/adafruit/Adafruit-Pro-Trinket-PCBs
[submodule "SparkFun-Eagle-Libraries"]
	path = SparkFun-Eagle-Libraries
	url = https://github.com/sparkfun/SparkFun-Eagle-Libraries.git
[submodule "AdafruitScm/Adafruit-1.27inch-Color-OLED-Breakout-PCB"]
	path = AdafruitScm/Adafruit-1.27inch-Color-OLED-Breakout-PCB
	url = https://github.com/adafruit/Adafruit-1.27inch-Color-OLED-Breakout-PCB.git
[submodule "EDALibraries"]
	path = EDALibraries
	url = https://github.com/MacroFab/EDALibraries.git
